{% extends '../newspaper/issue_list.html' %} {% load django_bootstrap_breadcrumbs %}
{% block title %} - {{ issue }} {% endblock %}
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb issue article.issue.url %}
{% endblock %}
{% block content %}
<div class="jumbotron">
	<ul class="container">
		<li class="prev"><a class="btn btn-default"></a></li>
		<li class="next"><a{% if object_list.first %} href="{{ object_list.first.url }}"{% endif %} class="btn btn-default">{% if object_list.first %}{{ object_list.first.unempty_title }}{% endif %}</a></li>
	</ul>
	<div class="container">
		<h1 class="col-md-10">{{ issue }}</h1>
		<div class="col-md-2">{{ issue.date }}</div>
	</div>
</div>

<div class="container">
	<div class="col-md-3">
		<h5>Contents:</h5>
		{% if object_list %}
		<ul>
			{% for a in object_list %}
			<li><a href="{{ a.url }}">{{ a.page }} - {{ a.unempty_title }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<div>Нет статей</div>
		{% endif %}
	</div>

	<div class="col-md-9">
		<div>
		   	{{ issue.description }}
		</div>
	</div>
</div>

{% endblock %}