{% extends 'base.html' %} 
{% block title %} - {{ issue }} {% endblock %} 
{% block menu %}
                <li><a href="{% url 'newspapers' %}" class="">Newspapers</a></li>
                <li><a href="{% url 'year' issue.newspaper.slug %}" class="">{{ issue.newspaper.title }}</a></li>
                <li><a href="{% url 'issues' issue.newspaper.slug issue.year  %}" class="">{{ issue.year }}</a></li>
{% endblock %}
{% block content %}
<h1>{{ issue }}</h1>
{% if object_list %}
<ul>
{% for article in object_list %}
<li><a href="{% url 'article' issue.newspaper.slug issue.year issue.issue article.page %}">{{ article.page }} - {{ article.category}} : {{ article.title }}</a></li>
{% endfor %}
</ul>
{% else %}
<div>Нет статей</div>
{% endif %}
<div>
{{ issue.description}}
</div>
{% endblock %}