{% extends 'newspaper/issue_list.html' %} {% load django_bootstrap_breadcrumbs %}
{% block title %}{{ issue }}{% endblock %}
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb issue article.issue.url %}
{% endblock %}
{% block prev %}<a class="btn btn-default"></a>{% endblock %}
{% block next %}<a{% if object_list.first %} href="{{ object_list.first.url }}"{% endif %} class="btn btn-default">{% if object_list.first %}{{ object_list.first }}{% endif %}</a>{% endblock %}
{% block pagetitle %}{{ issue }}{% endblock %}
{% block pagesubtitle %}
<div>
	<a href="{% url 'issue' issue.newspaper.slug issue.year issue.issue  %}"><h4>{{ issue }}</h4></a>
	{{ issue.date }}
</div>
{% endblock %}		
{% block content %}
	<div class="col-md-3">
		<h5>Contents:</h5>
		{% if object_list %}
		<ul>
			{% for a in object_list %}
			<li><a href="{{ a.url }}">{{ a.page }} - {{ a.unempty_title }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<div>Нет статей</div>
		{% endif %}
	</div>

	<div class="col-md-9">
		<div>
		   	{{ issue.description }}
		</div>
	</div>

{% endblock %}