{% extends 'base.html' %} 
{% block title %} - {{ article }} {% endblock %} 
{% block menu %}
                <li><a href="{% url 'newspapers' %}" class="">Newspapers</a></li>
                <li><a href="{% url 'year' article.issue.newspaper.slug %}" class="">{{ article.issue.newspaper.title }}</a></li>
                <li><a href="{% url 'issues' article.issue.newspaper.slug article.issue.year %}" class="">{{ article.issue.year }}</a></li>
                <li><a href="{{ article.issue.url }}" class="">{{ article.issue }}</a></li>
{% endblock %}
{% block content %}
<div>
	<ul>
		<li>{% if article.prev %}<a href="{{ article.prev.url }}">&lt;&lt; {{ article.prev.unempty_title }}</a>{% else %}&lt;&lt;{% endif %}</li>
		<li>{% if article.next %}<a href="{{ article.next.url }}">&gt;&gt; {{ article.next.unempty_title }}</a>{% else %}&gt;&gt;{% endif %}</li>
	</ul>
	{% if article.article_type.is_links %}
	<div>
		{{ article.issue.date }}
	</div>
	<h1>{{ article.issue }}</h1>
	{% else %}
	<div>
		<a href="{% url 'issue' article.issue.newspaper.slug article.issue.year article.issue.issue  %}">{{ article.issue }}</a>
		{{ article.issue.date }}
		<div>
			{{ article.category.title }}
		</div>
	</div>
	<h1>{{ article.unempty_title }}</h1>
	{% endif %}
</div>

<div>
	{% if article.article_type.is_links %}
	<ul>
		<li><a href="{% url 'issue' article.issue.newspaper.slug article.issue.year article.issue.issue %}">{{ article.issue }}</a></li>
		{% for a in article.linked.all %}
		<li><a href="{{ a.url }}">{{ a.page }} - {{ a.unempty_title }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	
	{{ article.text }}

</div>

<div>
	<h5>Contents:</h5>
	<ul>
		{% for a in article.issue.article_set.all %}
		<li><a href="{{ a.url }}">{{ a.page }} - {{ a.unempty_title }}</a></li>
		{% endfor %}
	</ul>
</div>

{% endblock %}