{% extends 'base.html' %} 
{% block title %} - {{ article }} {% endblock %} 
{% block menu %}
                <li><a href="{% url 'newspapers' %}" class="">Newspapers</a></li>
                <li><a href="{% url 'year' article.issue.newspaper.slug %}" class="">{{ article.issue.newspaper.title }}</a></li>
                <li><a href="{% url 'issues' article.issue.newspaper.slug article.issue.year %}" class="">{{ article.issue.year }}</a></li>
                <li><a href="{% url 'issue' article.issue.newspaper.slug article.issue.year article.issue.issue %}" class="">{{ article.issue }}</a></li>
{% endblock %}
{% block content %}
<h1>{{ article.title }}</h1>
<div>
	<div>
		<a href="{% url 'issue' article.issue.newspaper.slug article.issue.year article.issue.issue  %}">{{ article.issue }}</a>
	</div>
	<div>
		{{ article.category.title }}
	</div>
</div>

<div>
{{ article.article_type.pk }}
{% if article.article_type.is_links %}
<ul>
<li><a href="{% url 'issue' article.issue.newspaper.slug article.issue.year article.issue.issue %}">{{ article.issue }}</a></li>
{% for a in article.issue.article_set.all %}
<li><a href="{% url 'article' a.issue.newspaper.slug a.issue.year a.issue.issue a.page %}">{{ a.page }} - {{ a.category}} : {{ a.title }}</a></li>
{% endfor %}
</ul>

{{ issue.description}}
{% endif %}

{{ article.text }}
</div>
{% endblock %}