{% extends 'base.html' %}{% load django_bootstrap_breadcrumbs %} 
{% block title %} - {{ article }} {% endblock %} 
{% block menu %}
                <li><a href="{% url 'newspapers' %}" class="">Newspapers</a></li>
                <li><a href="{% url 'year' article.issue.newspaper.slug %}" class="">{{ article.issue.newspaper.title }}</a></li>
                <li><a href="{% url 'issues' article.issue.newspaper.slug article.issue.year %}" class="">{{ article.issue.year }}</a></li>
                <li><a href="{{ article.issue.url }}" class="">{{ article.issue }}</a></li>
{% endblock %}
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Newspapers" "newspapers" %}
	{% breadcrumb article.issue.newspaper.title "year" article.issue.newspaper.slug %}
	{% breadcrumb article.issue.year "issues" article.issue.newspaper.slug article.issue.year %}
	{% breadcrumb article.issue article.issue.url %}
	{% breadcrumb article article.url %}
{% endblock %}
{% block content %}
<div class="jumbotron">
	<ul class="container">
		<li class="prev"><a{% if article.prev %} href="{{ article.prev.url }}"{% endif %} class="btn btn-default">{% if article.prev %}{{ article.prev.unempty_title }}{% endif %}</a></li>
		<li class="next"><a{% if article.next %} href="{{ article.next.url }}"{% endif %} class="btn btn-default">{% if article.next %}{{ article.next.unempty_title }}{% endif %}</a></li>
	</ul>
	<div class="container">
		{% if article.article_type.is_links %}
		<h1 class="col-md-10">{{ article.issue }}</h1>
		<div class="col-md-2">{{ article.issue.date }}</div>
		{% else %}
		<h1 class="col-md-10">{{ article.unempty_title }}</h1>
		<div class="col-md-2">
			<div>
				<a href="{% url 'issue' article.issue.newspaper.slug article.issue.year article.issue.issue  %}"><h4>{{ article.issue }}</h4></a>
				{{ article.issue.date }}
			</div>
			<h3>{{ article.category.title }}</h3>
		</div>
		{% endif %}
	</div>
</div>

<div class="container">
	<div class="col-md-3">
		<h5>Contents:</h5>
		<ul>
			{% for a in article.issue.article_set.all %}
			<li><a href="{{ a.url }}">{{ a.page }} - {{ a.unempty_title }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="col-md-9">
		{% if article.article_type.is_links %}
		<ul>
			<li><a href="{{ article.issue.url }}">{{ article.issue }}</a></li>
			{% for a in article.linked.all %}
			<li><a href="{{ a.url }}">{{ a.unempty_title }}</a></li>
			{% endfor %}
		</ul>
		
		<div>
		   	{{ article.issue.description }}
		</div>
		{% endif %}
		
		<div>
		{{ article.text }}
		</div>
		
		{% if article.note_set %}
		<ul>
			{% for n in article.note_set.all %}
			<li>
				<h5><a href="{{ n.slug }}">{{ n.title }}</a></h5>
				<div>
					{{ n.description }}
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	
	</div>
</div>

{% endblock %}