{% extends 'newspaper/year_list.html' %} 
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% block title %}{{ np.title }}'{{ year }} {% endblock %} 
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb year "issues" np.slug year %}
{% endblock %}
{% block pagehead %}
	<ul class="container">
		<li class="prev">{% block prev %}<a{% if object_list.first %} href="{{ object_list.first.url }}"{% endif %} class="btn btn-default">{% if object_list.first %}{{ object_list.first }}{% endif %}</a>{% endblock %}</li>
		<li class="next">{% block next %}<a{% if object_list.first %} href="{{ object_list.first.url }}"{% endif %} class="btn btn-default">{% if object_list.first %}{{ object_list.first }}{% endif %}</a>{% endblock %}</li>
	</ul>
	<div class="container">
		<h1 class="col-md-10">{% block pagetitle %}{{ np }}'{{ year }}{% endblock %}</h1>
		<div class="col-md-2">{% block pagesubtitle %}<div><a href="{%url "issues" np.slug year.year %}"><h4>{{ year }}</h4></a></div>{% endblock %}</div>
	</div>
{% endblock %}
{% block content %} 
	<div class="col-md-3">

		{% if object_list %}
		<ul>
			{% for issue in object_list %}
			<li><a href="{{ issue.url }}">{{ issue }}</a></li>
			{% endfor %}
		</ul>		
		{% else %}
    <div>{% trans "No newspapers" %}</div>
		{% endif %}
	</div>

	<div class="col-md-9">
		<div>
		   	{{ np.description }}
		</div>
	</div>
{% endblock %}
