{% extends 'base.html' %} 
{% block title %} - {{ np.title }}'{{ year }} {% endblock %} 
{% block menu %}
                <li><a href="{% url 'newspapers' %}" class="">Newspapers</a></li>
                <li><a href="{% url 'year' np.slug %}" class="">{{ np.title }}</a></li>
{% endblock %}
{% block content %} 
<h2>{{ np }}'{{ year }}</h2>
{% if object_list %}
<ul>
{% for issue in object_list %}
<li><a href="{{ issue.url  }}">{{ issue }}</a></li>
{% endfor %}
</ul>
{% else %}
<div>Нет газет</div>
{% endif %}
<div>
{{ np.description}}
</div>
{% endblock %}
