{% extends 'newspaper/newspaper_list.html' %} 
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% block title %} {{ np }} {% endblock %} 
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb np.title "year" np.slug %}
{% endblock %}
{% block pagehead %}
	<ul class="container">
		<li class="prev">{% block prev %}<a{% if object_list.first %} href="{{ object_list.first.url }}"{% endif %} class="btn btn-default">{% if object_list.first %}{{ object_list.first }}{% endif %}</a>{% endblock %}</li>
		<li class="next">{% block next %}<a{% if object_list.first %} href="{{ object_list.first.url }}"{% endif %} class="btn btn-default">{% if object_list.first %}{{ object_list.first }}{% endif %}</a>{% endblock %}</li>
	</ul>
	<div class="container">
    <h1 class="col-md-10">{% block pagetitle %}{{ np.title }}{% endblock %}</h1>
	</div>
{% endblock %}
{% block content %} 
	<div class="col-md-3">

		{% if object_list %}
		<ul>
			{% for year in object_list %}
			<li><a href="{% url 'issues' np.slug year.year %}">{{ year }}</a></li>
			{% endfor %}
		</ul>		
		{% else %}
    <div>{% trans "No newspapers" %}</div>
		{% endif %}
	</div>

	<div class="col-md-9">
		<div>
		   	{{ np.description }}
		</div>
	</div>
{% endblock %}
