{% extends 'world/world_list.html' %}
{% load django_bootstrap_breadcrumbs %} 
{% load i18n %}
{% block title %} {{ world }} {% endblock %} 
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb world.title world.get_absolute_url %}
{% endblock %}
{% block prev %}<a{% if world.prev %} href="{{ world.prev.get_absolute_url }}"{% endif %} class="btn btn-default">{% if world.prev %}{{ world.prev.title }}{% endif %}</a>{% endblock %}
{% block next %}<a{% if world.next %} href="{{ world.next.get_absolute_url }}"{% endif %} class="btn btn-default">{% if world.next %}{{ world.next.title }}{% endif %}</a>{% endblock %}
{% block pagehead %}
<div class="container">
  <h1 class="col-md-10">
    {{ world.title }}
  </h1>
  <ul class="edit-btns">
    <li><a href="{% url "admin:world_world_add" %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</a></li>
    <li><a href="{% url "admin:world_world_change" world.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {% trans "Change" %}</a></li>
  </ul>
</div>
{% endblock %}
{% block content %}
<div class="col-md-3">
  <img src="{{ world.image.url }}" alt="{{ world.title }}" />
  <ul>
    <li><a href="//google.com/search?q={{ world.title }}">Google</a></li>
    <li><a href="//wikipedia.org/wiki/{{ world.title }}">Wikipedia</a></li>
    <li><a href="//ru.rpg.wikia.com/wiki/{{ world.title }}">RPG Wikia</a></li>
  </ul>
{{ world.description | linebreaks }}
</div>
<div class="col-md-9">
{{ world.get_wiki | safe }}
</div>
{% endblock %}
