            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
            .prev {
            	float: left;
            	list-style-type: none;
            }
            .prev a:before {
            	content: "<< ";
            }
            .next {
            	float: right;
            	list-style-type: none;
            }
            .next a:after {
            	content: " >>";
            }
            .brick {
            	list-style-type: none;
              min-width: 250px;
              text-align: center;
              padding: 9px 14px;
              margin-bottom: 14px;
              background-color: #f7f7f9;
              border: 1px solid #e1e1e8;
              border-radius: 4px;
              /* display: block; */
            }
            .edit-btns li {
            	list-style-type: none;
              /*padding: 10px;
              height: 20px;*/
              margin: 5px;
              display: inline-block;
            }

