{% extends 'base/list.html' %} 
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block title %}{% trans "Books" %}{% endblock %} 

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Books" "books" %}
{% endblock %}

{% block pageheadtext %}{% trans "Books" %}{% endblock %}

{% block content %}
  <ul class="wall container">
    <li class="brick"><a href="{% url "admin:book_book_add" %}"><h1><span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</h1></a></li>
{% if object_list %}
    <li class="brick"><a href="{% url "random_book" %}"><h1>{% trans "Random" %}</h1></a></li>
	{% for book in object_list %}
    <li class="brick"><a href="{{ genre.get_absolute_url }}">
        <h5>{{ book.title }}</h5>
        {{ book.preview }}
    </a></li>
	{% endfor %}
{% endif %}
  </ul>
{% endblock %}
