{% extends 'base.html' %} 
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% block title %}{% trans "Newspapers" %}{% endblock %} 
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Newspapers" "newspapers" %}
{% endblock %}
{% block pagehead %}
<div class="container">
  <h1 class="col-md-10">{% trans "Newspapers" %}</h1>
</div>
{% endblock %}
{% block content %}
  <h2>{% trans "Newspapers" %}</h2>
{% if object_list %}
<ul>
	{% for newspaper in object_list %}
	<li><a href="{% url 'year' newspaper.slug %}">{{ newspaper.title }}</a></li>
	{% endfor %}
</ul>
{% else %}
  <div>{% trans "No newspapers" %}</div>
{% endif %}
{% endblock %}
