{% extends 'article/article_list.html' %}
{% load django_bootstrap_breadcrumbs %} 
{% load i18n %}
{% block title %} {{ article.unempty_title }} {% endblock %} 
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb article.unempty_title article.url %}
{% endblock %}
{% block prev %}<a{% if article.prev %} href="{{ article.prev.url }}"{% endif %} class="btn btn-default">{% if article.prev %}{{ article.prev.unempty_title }}{% endif %}</a>{% endblock %}
{% block next %}<a{% if article.next %} href="{{ article.next.url }}"{% endif %} class="btn btn-default">{% if article.next %}{{ article.next.unempty_title }}{% endif %}</a>{% endblock %}
{% block pagetitle %}
		{% if article.article_type.is_links %}{{ article.issue }}{% else %}{{ article.unempty_title }}{% endif %}
{% endblock %}
{% block pagesubtitle %}
			<div>
				<a href="{{ issue.url }}"><h4>{{ article.issue }}</h4></a>
				{{ article.issue.date }}
			</div>
		{% if not article.article_type.is_links %}
			<h3>{{ article.category.title }}</h3>
		{% endif %}
{% endblock %}	
{% block content %}
	<div class="col-md-3">
    <h5>{% trans "Contents:" %}</h5>
		<ul>
			{% for a in article.issue.article_set.all %}
			<li><a href="{{ a.url }}">{{ a.page }} - {{ a.unempty_title }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="col-md-9">
		{% if article.article_type.is_links %}
		<ul>
			<li><a href="{{ article.issue.url }}">{{ article.issue }}</a></li>
			{% for a in article.linked.all %}
			<li><a href="{{ a.url }}">{{ a.unempty_title }}</a></li>
			{% endfor %}
		</ul>
		
		<div>
		   	{{ article.issue.description }}
		</div>
		{% endif %}
		
		<div>
		{{ article.text }}
		</div>
		
		{% if article.note_set %}
		<ul>
			{% for n in article.note_set.all %}
			<li>
				<h5><a href="{{ n.slug }}">{{ n.title }}</a></h5>
				<div>
					{{ n.description }}
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	
	</div>
{% endblock %}
